<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    {% load static %}
    <link rel="stylesheet" type="'text/css" href="{% static 'blog/style.css' %}" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


  <!-- {% load static %}
  <link rel="stylesheet" type="'text/css" href="{% static 'blog/style.css' %}" /> -->



</head>
<body>
     
    <div>
        <ul id=" myList" style= "list-style-type: none; margin: 0; padding: 0;  overflow: hidden; background-color: #333" >
        
           <li style="display: inline ; float: left; border-right: 1px solid #bbb; color: white;"><a href="./" style=" display: block; color:white; text-decoration: none; padding: 14px 16px; text-align: center;">Home</a></li>
           <li style="display: inline; float: left; border-right: 1px solid #bbb; color: white; "><a href="./contact" style=" display: block; color:white; text-decoration: none; padding: 14px 16px; text-align: center;">Contact</a></li>
           <li style="display: inline; float: left; border-right: 1px solid #bbb; color: white; border-right: none"><a href="./about" style=" display: block; color:white; text-decoration: none; padding: 14px 16px; text-align: center;">About</a></li>
           <li style="display: inline; float: right; border-right: 1px solid #bbb; color: white; border-right: none"><a href="./login" style=" display: block; color:white; text-decoration: none; padding: 14px 16px; text-align: center;">Login</a></li>
        
        </ul>
    </div>
    

    <section style= "background-color: #ccc">
        <div class=" section-header">
            <div class=" container" style= "background-color: #ccc" >
                <h2>Contact Info</h2>
                <p>Do you like the hand-picked recipes we have for you?  
                    <p>We'd love to hear what you think about the website!</p>
                    <p>Feel free to contact us if you want to see any recipes that you want to see!!</p>
                    </p>
            </div>
        </div>

        <div class=" container">
            <div class="row">

                <div class="contact-info" style= "background-color: #ccc">
                    <div class="contact-info-item">
                        <!-- <div class="contact-info-icon">
                            <i class= "fas fa-home" style= "background-color: #ccc"></i>

                        </div> -->
                        <!-- <link rel="stylesheet" type="'text/css" href="{% static 'blog/style.css' %}" /> -->
                        
                             <img src={% static "blog/homeicon.png" %} width="64px" height="64px"> 
                        
                        
                        <div
                        class="contact-info-content" style= "background-color: #ccc">
                    <h4>Address</h4>
                    <p> 1007 N Orange St 4th Floor<br/>
                    Wilmington, Delaware <br
                    >19801</p>
            
                    </div>
                 </div>

                <div class="contact-info-item">
                    <div class="contact-info-icon">
                        <i class="fas fa-phone"></i>
                    </div>

                 <div
                 class="contact-info-content">
                 <img src={% static "blog/phoneicon.webp" %} width="64px" height="64px"> 
                 <h4>Phone</h4>
                 <p>302-445-1211</p>
                </div>   


                </div>

                <div
                class="contact-info-item">
               <div class="contact-info-icon">
                <i class="fas fa-envelope"></i>
               </div>
               
               <div
               class="contact-info-content">
               <img src={% static "blog/mail-512.webp" %} width="84px" height="84px"> 
               <h4>Email</h4>
               <p>gamze@zipcode.com</p>
            </div>


               </div>   


               </div>
               <div class="contact-form" style= "background-color: #ccc">
                <form id="contact-form">
                    <h2>Send Message</h2>
                    <div class="input-box">
                    <input type="text"
                    required="true"> 
                    <span>Full Name</span>
                    </div>
                    <div class="input-box">
                        <input type:"Email"
                        required="true">
                        <span>Email</span>
                    </div>
                    <div class="input-box">
                        <textarea required="true"></textarea>
                        <span>Type your Message...</span>
                    </div>

                    <div class="input-box">
                        <input type="submit"
                        value="Send">
                        <style>
                        .contact-form .input-box input
                            [type="submit"] {
                            width: 100%;
                             background: #00bcd4;
                             color: #ffff;
                             border: none;
                                cursor: pointer;
                                 padding: 10px;
                                 border:none;
                                font-size: 18px;
                                border: 1px solid #00bcd4;
                                        transition: 0.5s;
                                }
                                </style>
                    </div>




                </form>
               </div>


                </div>

            </div>
        </div>









    </section>
















<!-- <div class="container row mt-5 text-center" style="margin-left: auto; margin-right: auto">
    <p> Contact me at 888-888-8888 , gamze@example.com </p>

</div> -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>